<div class="bg-info-subtle">
    <div class="container d-flex justify-content-between">
        <p>{{ data["created_at"] }}</p>
        <a href="/user/{{ creator["username"] }}">
            {{ creator["username"] }}
        </a>
        {% if user["id"] == data["user_id"] %}
            <span class="d-flex gap-3">
                <a href="/edit/{{ creator["username"] }}/{{ data["title"] }}" class="btn btn-primary">Edit</a>
                <button onclick="document.querySelector('#delete-popup').classList.remove('d-none')" class="btn btn-danger">Delete</button>
            </span>
        {% endif %}
    </div>
</div>
